@media screen and (max-width:768px) {
  .bars{
    margin: .5em .8em;
  }
  .menu{
    display: flex;
    flex-direction: column;
  }
  .cont1{
    display: flex;
    flex-direction: column;
  }
  .bars{
    display:block;
  }
  .cajamenu{
    border: 1px red solid;
  }
}